@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to BabelFishies</h1>
    <p>
        Babelfishies is a text based choose your own adventure game. 
    There are many ways this story could go, and it is up to you to decide! 
    As you progress through the story, there will be a variety of choices you can make for your character. It is possible that these choices may kill your character, or help them progress further. Replay the game differently to see how it might affect your final outcome!
    Register for an account in order to save your progress without the use of cookies.</p>
   
       <p> The developers of Babelfishies met through a non-profit coding bootcamp. Our project is coded using the C# language,
    please feel free to check out our repository here: <a href="https://github.com/BabelFishies/SilverHippogryphs">Github</a> 
    </p>
    
    
    <p>Use the link below to begin your adventure!</p>
    <p><link /><a href="Home/NewGame">New Game</a></p>
    @*<p><link /><a href="Home/LoadGame">Load Game</a></p>
    <p><link /><a href="Home/ViewLeaderboard">View Leaderboard</a></p>
    <p><link /><a href="Home/Settings">Settings</a></p>*@ 

</div>
