@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BabelFishies</h1>
    <p><link /><a href="Home/NewGame">New Game</a></p>
    <p><link /><a href="Home/LoadGame">Load Game</a></p>
    <p><link /><a href="Home/ViewLeaderboard">View Leaderboard</a></p>
    <p><link /><a href="Home/Settings">Settings</a></p>

</div>
