@{
    ViewData["Title"] = "New Game";
}
<h1>@ViewData["Title"]</h1>

<p>Game screen goes here</p>



@*
    @if (logged in)
        {
           return view gamestart
        }
        @
    else 
    {
        Registration link
        GuestStart link
    }@
*@