@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div style="background: ghostwhite; 
        width: 1100px; height: 400px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;">
        This is where the story passage will go.
    </div>

    <div style="background: no-repeat; 
        width: 200px; height: 200px;        
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;">
        This is where the character portrait will go.
    </div>

    <div style="background: ghostwhite; 
        width: 800px; height: 200px;
        font-size: 20px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;">
        This is where the inventory will go.
    </div>

</body>