@{
    ViewData["Title"] = "New Game";
}
<h1>@ViewData["Title"]</h1>

<p>It doesn't look like you are logged in, would you like to register a new account or start game without saving?</p>

<p> <link/><a href="../Identity/Account/Login">Register New Account</a></p>
<p><a asp-controller="Game" asp-action="Index">Start Game</a></p>


@*
    Registration link & GuestStart link

*@


